<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="4.0.4" targetFramework="net45" />
  <package id="akavache.core" version="4.0.4" targetFramework="net45" />
  <package id="akavache.sqlite3" version="4.0.4" targetFramework="net45" />
  <package id="AutoFixture" version="3.22.0" targetFramework="net45" />
  <package id="Fody" version="1.26.4" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.48.8" targetFramework="net45" developmentDependency="true" />
  <package id="refit" version="2.1.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="Splat" version="1.5.1" targetFramework="net45" />
  <package id="SQLitePCL.raw_basic" version="0.7.0" targetFramework="net45" />
  <package id="xunit" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0-beta5-build2785" targetFramework="net45" />
</packages>